# FRONTEND ----------------------------------------

# dependencies
node_modules/

# yarn
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# BACKEND ----------------------------------------

# ML artifacts
*.pkl
*.npz
*.npy
model_versions/
osv5m_filtered/
checking/

# python
__pycache__/
*.pyc
geo_env/

# training data
train.csv


# MISC --------------------------------------------

.idea/
.vscode/